.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.input-field {
  margin: 15px 0;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff80ab;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff527b;
}

button:focus {
  outline: none;
}

@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}